/* Estilos de la página de productos */
.productos-page {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .productos-page h1 {
    font-size: 2.5rem;
    color: #6a1b9a;
    margin-bottom: 40px;
  }
  
  .productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .producto-card {
    width: 506px;
    height: 490px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .producto-imagen {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .producto-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
  }
  
  .producto-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .producto-precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4caf50;
    margin: 10px 0;
  }
  
  .producto-botones {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .producto-detalles,
  .producto-agregar {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .producto-detalles {
    background-color: #6a1b9a;
    color: #fff;
  }
  
  .producto-detalles:hover {
    background-color: #4a148c;
  }
  
  .producto-agregar {
    background-color: #4caf50;
    color: #fff;
  }
  
  .producto-agregar:hover {
    background-color: #388e3c;
  }
  
  /* Pie de página */
  .footer {
    background-color: #4c00b5;
    color: white;
    padding: 1rem 0;
    font-size: 0.9rem;
  }


















/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #4a148c;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.modal-foto {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 15px;
}

.modal-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.modal-proceso-img {
  width: 100%;
  border-radius: 10px;
}



